.first_header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10vw;
  background: var(--gradient-1);
}

.first_header h1 {
  margin: 0;
  font-size: 3.93rem;
  font-style: normal;
  font-weight: 900;
  line-height: 5.18rem;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.115em;
}

.first_header p {
  margin: 20px 0 30px 0;
  font-family: "Montserrat", sans-serif;
}

.first_header button {
  padding: 14px 49px;
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--white);
  border-radius: 200px;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-family: "Montserrat", sans-serif;
  font-size: 1.37rem;
  cursor: pointer;
  transition: background-color ease-out 300ms, color ease-out 300ms;
}

@media (hover: hover) and (pointer: fine) {
  .first_header button:hover {
    background-color: var(--black);
    color: var(--white);
  }
}

.first_header_images {
  margin-top: 10vh;
}

.first_header_images img {
  height: 50px;
}

.first_header_images h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1000px) {
  .first_header {
    align-items: center;
    margin-top: 50px;
    padding: 0;
  }
  .first_header h1 {
    text-align: center;
    padding: 0 5vw;
    font-size: 3.23rem;
  }
  .first_header p {
    text-align: center;
    width: 100%;
    font-size: 14px;
  }
  .first_header_images {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .first_header_images h3 {
    width: 100%;
    text-align: center;
  }
  .first_header_images div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
  }
  .first_header_images img {
    width: 25%;
    object-fit: contain;
    height: 50px;
    margin: 0 !important;
    display: inline-block;
  }
}