* {
  box-sizing: border-box;
}

:root {
  --conic-gradient: conic-gradient(from -90deg at 56.74% 0%, #00063E -62.13deg, rgba(0, 3, 28, 0.5) 2.5deg, #00063E 297.87deg, rgba(0, 3, 28, 0.5) 362.5deg);
  --body-bg: #000212;
  --white: #FFF;
  --black: #000;
}

html {
  min-height: 100%;
  width: 100vw;
  position: relative;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 16px;
  font-family: sans-serif;
  background: var(--conic-gradient);
  background: var(--body-bg);

  color: var(--white);
}

.first_header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10vw;
  background: var(--conic-gradient);
}

.first_header h1 {
  margin: 0;
  font-size: 3.31rem;
}

.first_header p {
  margin: 20px 0 30px 0;
}

.first_header button {
  padding: 15px 50px;
  background-color: var(--white);
  color: var(--black);
  border: none;
  border-radius: 200px;
  font-weight: bold;
}